<div class="sudoku-board">
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
  <div class="sudoku-row">
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
    <app-sudoku-cell />
  </div>
</div>
