<app-sudoku-grid
  [sudoku]="sudoku()"
  [activeField]="activeField"
></app-sudoku-grid>
<div class="options">
  <button class="options__erase" (click)="erase()">Borrar</button>
  <button
    class="options__notes"
    (click)="this.notesMode.set(!this.notesMode())"
    [class.active]="this.notesMode()"
  >
    Notas
  </button>
  <!-- Hint button -->
</div>
<div class="numbers">
  <button
    *ngFor="let button of numberButtons"
    (click)="insertNumber(button.number)"
  >
    {{ button.number }}
  </button>
</div>
