<div class="overlay" *ngIf="this.isVisible()">
    <div class="completionModal">
        <div class="completionModal__title">
            <h2>おめでとう 🎉</h2>
        <h3>(Felicitaciones para los de poco japones!)</h3>
        </div>
        <div class="completionModal__footer">
            <button class="completionModal__button--primary" (click)="restartGame()">Jugar Otra vez</button>
            <button class="completionModal__button--secondary" (click)="chooseNewLevel()">Cambiar dificultad</button>
        </div>
    </div>
</div>
