.layout-container{
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;

  .layout-container__title{
    justify-self: center;
    color: var(--color-text);
  }

  .difficulty__title {
    color: var(--color-text);
  }
}

.difficulty {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}