/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@font-face {
  font-family: 'Ungai';
  src: url('../src/assets/Ungai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shuriken';
  src: url('../src/assets/The\ Last\ Shuriken.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    /* Light Theme */
    --color-bg: #F5E1C8;
    --color-board: #FFFFFF;
    --color-cell: #2d9ae2;
    --color-fixed-cell: #F7F7F7;
    --color-selected: #FFEB3B;
    --color-correct: #2E7D32;
    --color-error: #E63946;
    --color-text: #264697;
    --color-primary: #1976D2;
    --color-secondary: #757575;
  
    /* Dark Theme */
    --dark-bg: #121212;
    --dark-board: #1E1E1E;
    --dark-cell: #2D2D2D;
    --dark-fixed-cell: #3A506B;
    --dark-selected: #FFD700;
    --dark-correct: #4CAF50;
    --dark-error: #FF5252;
    --dark-text: #EEE;
    --dark-primary: #BB86FC;
    --dark-secondary: #999;
  
    /* General */
    --font-secondary: 'Ungai', sans-serif;
    --font-size: 16px;
    --border-radius: 8px;
    --spacing: 10px;
    --transition: all 0.3s ease-in-out;
  }
  
  body {
    font-family: 'Shuriken', sans-serif;
    background-color: var(--color-bg);
    background-image: url('./assets/CherryBlossom.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom -200px right;
    height: 100%;
    margin: 0px;

    @media screen and (max-width: 700px) {
      background-position: bottom -100px right;
    }
  }